$white-color: #FFFFFF;
$black-color: #000000;

$gray-color-1: #F8F8F8;
$gray-color-2: #FCFCFC;
$gray-color-3: #F0F1F5;
$gray-color-4: #E5E5E5;
$gray-color-5: #E6E6E6;
$gray-color-6: #D4D4D4;
$gray-color-7: #D1D1D1;
$gray-color-8: #818181;
$gray-color-9: #707070;
$gray-color-10: #737373;
$gray-color-11: #4C4C4C;
$gray-color-12: #3D3D3D;
$gray-color-13: #3E3E3E;
$gray-color-14: #3C3C3C;

$green-color-1: #8ECB53;
$green-color-2: #508F59;

$blue-color-1: #6DC7D4;
$blue-color-2: #36B6C7;
$blue-color-3: #37B7C8;
$blue-color-4: #4B8AA4;
$blue-color-6: #00374E;
$blue-color-7: #00374F;
$blue-color-8: #006999;
$blue-color-9: #022776;


$pink-color-1: #F390A8;
$pink-color-2: #EC7E99;
$pink-color-3: #EA7A95;
$pink-color-4: #E56E8B;
$pink-color-5: #E46B88;

$yellow-color-1: #FCD06D;
$yellow-color-2: #E4C458;
$yellow-color-3: #FEC55F;

$pink-gradient: linear-gradient(to right, $pink-color-5 0%, $pink-color-1 100%);
$blue-gradient: linear-gradient(to right, $blue-color-3 0%, $blue-color-1 100%);


















