@import 'src/scss/utilities/variables';

.dropbtn {
  color: $blue-color-8;
  font-size: .8rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display:block;
}