@import 'src/scss/utilities/variables';

@mixin line-style {
  content: "";
  display: block;
  background-color: $blue-color-2;
  border-radius: 8px;
  position: absolute;
}

.footer {
  background-color: $gray-color-3;
  min-height: 430px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  &__box-contacts {
    padding: 0.5rem 1rem;
  }
  &__title {
    text-align: center;
    color: $blue-color-6;
    font-size: 1.5rem;
    font-weight: $semi-bold;
    padding: 1rem 0;
    position: relative;
    &::after {
      @include line-style;
      width: 60px;
      height: 4px;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
    }
    span {
      color: $blue-color-2;
    }
  }
  &__text {
    color: $gray-color-12;
    font-size: 1.125rem;
    text-align: center;
    margin: 1rem 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem 0;
    margin: 1rem 0;
  }
  &__label {
    color: $gray-color-12;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
  }
  &__input {
    background-color: $white-color;
    border: 2px solid $gray-color-5;
    border-radius: 7px;
    padding: .5rem 2rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: $semi-bold;
    font-size: .75rem;
    &::placeholder {
      color:$gray-color-7;
    }
    &:focus {
      outline: none;
      border: 2px solid $gray-color-6;
    }
  }
  &__button {
    border: none;
    background: $pink-gradient;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: $white-color;
    border-radius: 23px;
    padding: 0.25rem 1.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  &__icon {
    margin-right: .4rem;
    font-size: 1rem !important;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__copyright {
    background-color: $blue-color-9;
    position: absolute;
    bottom: 0;
    padding: 1rem .5rem;
    color: $blue-color-4;
    width: 100%;
    font-weight: $bold;
    font-size: .8rem;
    text-align: center;
    p:first-child {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    &__title {
      font-size: 2rem;
    }
    &__copyright {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem 1rem;
      p:first-child {
        margin-bottom: 0;
      }
    }
    &__box-contacts {
      position: relative;
      &::before {
        content: "";
          display: block;
          position: absolute;
          background: url(../../src/assets/images/image.png) no-repeat;
          background-size: 364px 45px;
          z-index: 101;
          width: 364px;
          height: 45px;
          left: -16px;
          top: 0px;
      }
      &::after {
        content: "";
          display: block;
          position: absolute;
          background-color: $yellow-color-2;
          border-bottom-left-radius: 200px;
          border-bottom-right-radius: 200px;
          z-index: 101;
          width: 240px;
          height: 120px;
          right: 0px;
          bottom: 0px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    &__button {
      padding: .5rem 2.5rem;
    }
  }
}